.code {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-bottom: 1rem;
  margin-top: 1rem;
  margin-right: auto;
  margin-left: auto;

  width: fit-content;
}

