.code {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.codeCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 460px) {
  .code {
    margin-left: 0;
    margin-right: 0;
  }
}