.algo {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 0;
}

.algoButtonGroup {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.algoButton {
  border-radius: 0.3rem !important;
  margin: 0 0 0.5rem 0 !important;
  border-width: 2px !important;
  border-color: rgba(0,0,0,0.5);

  cursor: pointer;
  width: 100%;
  background-color: transparent;
  color: rgba(0,0,0,0.5);
  font-size: larger;
  transition: all ease 0.4s !important;
}
.algoButton:hover {
  background-color: transparent;
  color: rgb(0,0,0);
  border-color: rgb(0,0,0);
}
