.algoFull {
  width: 100%;
  padding: 3rem;
  margin: 2rem 0 2rem 0;
}

.algoRow {
  padding-left: 1rem;
  padding-right: 1rem;
}

.algoBtn {
  cursor: pointer;
  border-radius: 0.3rem !important;
  margin-left: 0.3rem !important;
  margin-right: 0.3rem;

  display: flex;
  align-items: center;

  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  border: none;
  font-size: large;
  transition: all ease 0.4s !important;
}
.algoBtn:hover {
  background-color: transparent;
  color: rgb(0,0,0);
}

.controlBtn,
.controlBtn:focus {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-right: 0.3rem;

  border-radius: 0.2rem;
  border-width: 2px;
  border-color: rgba(0,0,0,0.5);
  color: rgba(0,0,0,0.5);
  background-color: transparent;
  transition: all ease 0.3s;
}
.controlBtn.selected,
.controlBtn:hover {
  border-color: rgb(0,0,0);
  background-color: transparent;
  color: rgb(0,0,0);
}

.algoBtnCol {
  display: flex;
  justify-content: flex-start;
}
.copyBtnCol {
  display: flex;
  justify-content: flex-end;
}


@media (max-width: 576px) {
  .algoRow {
    padding: 0;
  }
  
  .algoBtnCol {
    margin-bottom: 1rem;
    justify-content: center;
  }

  .controlBtn,
  .controlBtn:focus {
    width: 100%;
    margin-right: 0;
  }
}