.grid {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.gridWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  transition: all ease-in 350ms;
}
.gridWrapperEasy {
  /* Set size based on dimensions */
  height: calc(8 * 3.3vmax);
  width: calc(12 * 3.3vmax);
}
.gridWrapperMedium {
  /* Set size based on dimensions */
  height: calc(12 * 2.8vmax);
  width: calc(16 * 2.8vmax);
}
.gridWrapperHard {
  /* Set size based on dimensions */
  height: calc(16 * 2.3vmax);
  width: calc(20 * 2.3vmax);
}

.gridField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  /* Fade in smoothness */
  animation-name: fadeIn;
  animation-duration: 500ms;
}

.loader {
  /* Display/styling */
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.cellRow {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 0;
  width: 100%;
  height: 100%;
  --bs-gutter-x: 0 !important;
}

/* Responsiveness */
@media (max-width: 460px) {
  .gridWrapper {
    writing-mode: vertical-rl;
    white-space: nowrap;
    transform: rotate(180deg);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .gridWrapperEasy {
    /* Set size based on dimensions */
    height: calc(12 * 4.44vmax);
    width: calc(8 * 4.44vmax);
  }
  .gridWrapperMedium {
    /* Set size based on dimensions */
    height: calc(16 * 3.44vmax);
    width: calc(12 * 3.44vmax);
  }
  .gridWrapperHard {
    /* Set size based on dimensions */
    height: calc(20 * (4.5vmin + 0.44vmax));
    width: calc(16 * (4.5vmin + 0.44vmax));
  }
}

/* Smoothness */
@keyframes fadeIn {
  0% {
    filter: opacity(0);
  }
  100% {
    filter: opacity(1);
  }
}