.ModeSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.ModeButton {
  cursor: pointer;
  border-radius: 0.3rem !important;
  margin-left: 0.3rem !important;
  margin-right: 0.3rem;
  background-color: transparent;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.5);
}

.ModeButton:hover {
}
