.ModeSelect {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.ModeButton {
  cursor: pointer;
  border-radius: 0.3rem !important;
  margin-left: 0.3rem !important;
  margin-right: 0.3rem;
  background-color: transparent;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: large;
  transition: all ease 0.4s !important;
}
.ModeButton:hover {
  background-color: transparent;
  color: rgb(0,0,0);
}
