.vCell {
  background-color: rgba(137, 148, 153, 0.8);
  border-radius: 0.2rem;
  transition: background-color ease 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Medium sizing from game */
  height: 2.5vmax;
  width: 2.5vmax;

  /* Changes on small screen (see below) */
  margin: 0.15vmax;
}