.chart {
  display: flex;
  flex-direction: column;
  padding: 0.3rem 0.5rem;
  margin: 2.5rem 0;
  border-radius: 5px;
  border: solid 2px rgba(0,0,0,0.5);
  background-color: rgb(233,233,233);
}
.chartHeader {
  width: 100%;
  padding: 0.5rem 0;
  padding-bottom: 0;
  margin-bottom: 1rem;
  max-width: 280px;
}
.chartContainer {
  position: relative;
  display: block;
  padding: 0 1rem;
}
.chartPlaceholder {
  height: 375px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgba(0,0,0,0.7);
}

@media (max-width: 992px) {
  .chart {
    margin: 1rem 0;
  }

  .chartHeader {
    max-width: none;
  }
}
