.grid {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 0;
}

.gridWrapper {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  transition: all ease-in 350ms;

  /* Set size based on dimensions */
  height: calc(12 * 2.8vmax);
  width: calc(16 * 2.8vmax);
}

.gridField {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;

  /* Fade in smoothness */
  animation-name: fadeIn;
  animation-duration: 500ms;
}