/* Poppings Font */
@font-face {
  font-family: 'Poppins';
  src: url(fonts/Poppins/Poppins-Medium.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  font-family: 'Poppins' !important;
}

/* Remove focus box shadow/outline (bootstrap) */
.btn:focus,
.btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.btn-check:active,
.btn-check:checked,
.btn-check:active + .btn-primary, 
.btn-check:checked + .btn-primary,
.show > .btn-primary.dropdown-toggle {
  background-color: rgb(0,0,0) !important;
  border-color: rgb(0,0,0) !important;
  color: rgb(255,255,255) !important;
}

/* Do not display radio input circle */
[type='radio'] {
  display: none;
}

/* About Page */
.aboutImgContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1vw;
  margin-bottom: calc(1rem + 1vw);
}
.about a {
  color: rgba(0, 0, 0, 0.7);
}

/* Minesweeper / play page*/
.minesweeper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

.bullets {
  padding-left: 2.5rem !important;
}